/* article
.entry-meta
  ul
    list-style: none
    overflow: hidden
    padding: 0
    margin: 0 0 1em 0
    float: left

    li
      float: left
      padding: 0 1em 4px 0

.pagination-container
  text-align: center